<div class="modal fade" id="request-send" data-bs-keyboard="false" tabindex="-1" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="text-center">
                <h1>Obrigado!</h1>
            </div>
            <div class="text-center pt-2">
                <p>Pedido enviado com sucesso!</p>
            </div>
        </div>
        <div class="d-flex justify-content-center pb-2">
          <button type="button" class="btn card-button" data-bs-dismiss="modal">Concluído</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <style>
      .card-button{
          width: 7rem;
          height: 2rem;
          border-radius: 1rem;
          background-image: linear-gradient(to right, #D14C1F, #F39200, #ECB800);
          text-decoration: none;
          color: white;
          text-align: center;
          padding-top: 2px;
      }
  </style>
    