<header class="header">
	<div class="d-flex">
		<div class="d-flex justify-content-center login logo-width">
			<a href="/"><img src="/images/logo/logo.svg" alt="logoLogo"></a>
		</div>
		<div class="d-flex flex-column pt-5 text-width">
			<h1><%= title %></h1>
			<p><%= paragraph %> </p>
		</div>
		<div class="d-flex justify-content-center bell-width pt-5">
			<a href="/notification">
				<img src="/images/icons/bell.svg" alt="iconBell" class="bell-dimensions">
			</a>
		</div>
		<div class="d-flex justify-content-end text-login">
			<a class="login a-prop cursor-style" data-bs-toggle="modal" data-bs-target="#loginModal">Login/Registar</a>
		</div>
	</div>
</header>

<style>
	.cursor-style{
		cursor: pointer;
	}

	.header {
		height: 20vh;
		width: 100vw;
	}

	.logo-width{
		width: 18%;
	}

	.text-width{
		width: 50%;
	}

	.text-login{
		width: 23%;
	}

	.bell-width{
		width: 5%;
	}

	.a-prop{
		text-decoration: none;
		color: #CE8927;
	}

	.login{
		padding-top: 3.5rem;
	}

	.gap-between{
		padding-right: 5rem;
	}

	.bell-dimensions{
		width: 2rem;
		height: 3rem;
	}

	/* @media screen and (max-width: 400px), (max-height: 400px) {
		.header{
			display: column;
		}
	} */
</style>