<header class="header">
	<div class="container text-start">
		<div class="row">
			<div class="col-2 pt-5">
				<img src="/images/logo/logo.svg" alt="logoLogo">
			</div>
			<div class="col-6 pt-5">
				<h1>Catálogo</h1>
				<p>Esperamos que encontre algum amiguinho novo!!</p>
			</div>
			<div class="col-4 pt-5 notifi-pad">
				<img src="/images/icons/bell.svg" alt="iconBell">
				<a href="/login" class="ps-4">Login/Registar</a>
			</div>
		</div>
	</div>
</header>

<style>
	.header {
		height: 20vh;
		width: 100vw;
	}

	.notifi-pad{
		padding-left: 15rem;
	}

	@media screen and (max-width: 400px), (max-height: 400px) {
		.header{
			display: column;
		}
	}
</style>