<header class="header">
	<div class="d-flex">
		<div class="d-flex justify-content-center pt-2 logo-width">
			<img src="/images/logo/logo.svg" alt="logoLogo">
		</div>
		<div class="d-flex flex-column pt-4 text-width">
			<h1>Catálogo</h1>
			<p>Esperamos que encontre algum amiguinho novo!!</p>
		</div>
		<div class="d-flex bell-with">
			<img src="/images/icons/bell.svg" alt="iconBell">
			<a href="/login" class="pt-5">Login/Registar</a>
		</div>
	</div>
</header>

<style>
	.header {
		height: 20vh;
		width: 100vw;
	}

	.logo-width{
		width: 18%;
	}

	.text-width{
		width: 67%;
	}

	.bell-with{
		width: 11%;
	}

	/* @media screen and (max-width: 400px), (max-height: 400px) {
		.header{
			display: column;
		}
	} */
</style>