<header class="header d-flex align-items-center">
		<div class="pt-4 logo">
			<img src="/images/logo/logo.svg" class="logo" alt="logoAnimal">
		</div>
		<div style="padding-top: 5rem; padding-left: 9rem;">
			<h1>Catálogo</h1>
			<p>Esperamos que encontre algum amiguinho novo!!</p>
		</div>
		<div class="pt-5" style="padding-left: 40rem;">
			<img src="/images/icons/bell.svg" alt="iconBell" class="imgdef">
			<a class="ps-5" href="/login">Login/Registar</a>
		</div>
</header>

<style>
	.header {
		height: 10vh;
		width: 100vw;
	}

	.logo{
		padding-left: 1rem;
		width: 6rem;
		height: 8rem;
	}

	.imgdef{
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
</style>