<header class="header">
	<div class="d-flex">
		<div class="d-flex justify-content-center pt-3 logo-width">
			<img src="/images/logo/logo.svg" alt="logoLogo">
		</div>
		<div class="d-flex flex-column pt-5 text-width">
			<h1>Catálogo</h1>
			<p>Esperamos que encontre algum amiguinho novo!!</p>
		</div>
		<div class="d-flex justify-content-center gap-3 bell-with">
			<img src="/images/icons/bell.svg" alt="iconBell">
			<a href="/login" class="login a-prop">Login/Registar</a>
		</div>
	</div>
</header>

<style>
	.header {
		height: 20vh;
		width: 100vw;
	}

	.logo-width{
		width: 18%;
	}

	.text-width{
		width: 67%;
	}

	.bell-with{
		width: 11%;
	}

	.a-prop{
		text-decoration: none;
		color: #CE8927;
	}

	.login{
		padding-top: 3.5rem;
	}

	/* @media screen and (max-width: 400px), (max-height: 400px) {
		.header{
			display: column;
		}
	} */
</style>