<aside class="sidebar d-flex ps-3">
	<div>
		<div>
			<img src="/images/icons/paper.svg" class="w-15 h-15" alt="iconPaper">
			<a href="/catalog/all">Catálogo</a>
		</div>
		<div class="mt-3">
			<img src="/images/icons/greyMail.svg" class="w-15 h-15" alt="iconGreyMail">
			<a href="/request">Pedidos</a>
		</div>
		<div class="mt-3">
			<img src="/images/icons/config.svg" class="w-15 h-15" alt="iconConfig">
			<a href="/donate">Suporte</a>
		</div>
	</div>
</aside>

<style>
	.sidebar {
		height: 85vh;
		width: 18vw;
	}
</style>