<aside class="sidebar btn-padd pt-5">
	<div class="d-flex flex-column gap-5">
		<div class="d-flex gap-3">
			<img src="/images/icons/paper.svg" alt="iconPaper">
			<a href="/catalog/all" class="remove_underline">Catálogo</a>
		</div>
		<div class="d-flex gap-3">
			<img src="/images/icons/greyMail.svg" alt="iconGreyMail">
			<a href="/request" class="remove_underline">Pedidos</a>
		</div>
		<div class="d-flex gap-3">
			<img src="/images/icons/config.svg" alt="iconConfig">
			<a href="/donate" class="remove_underline">Suporte</a>
		</div>
	</div>
</aside>

<style>
	.sidebar {
		height: 85vh;
		width: 18vw;
	}

	.remove_underline{
		text-decoration: none;
		color: black;
	}

	.btn-padd{
		padding-left: 5.5rem;
	} 
</style>