<div class="text-center">
    <h1>Pedidos</h1>
</div>
<div class="d-flex flex-wrap justify-content-center gap-4 pt-5">
        <button type="button" class="prop">Adoção</button>
        <button type="button" class="prop">Apadrinhamento</button>
        <button type="button" class="prop">Adicionar animais</button>
        <button type="button" class="prop">Desaparecidos reportados</button>
        <button type="button" class="prop">Desaparecidos avistados</button>
</div>

<style>
    .prop{
        width: 60rem;
        height: 3rem;
        background-color: #FFFFFF;
        border: 2px solid #CE8927;
        border-radius: 1rem;
    }
</style>