<div class="text-center">
    <h1>Pedidos</h1>
</div>
<div class="d-flex flex-column align-items-center gap-4 pt-5 text-center">
    <a class="prop" href="/animal/create" role="button">Adoção</a>
    <a class="prop" href="/animal/create" role="button">Apadrinhamento</a>
    <a class="prop" href="/animal/create" role="button">Adicionar animal</a>
    <a class="prop" href="/missing/seen" role="button">Avistar desaparecido</a>
    <a class="prop" href="/missing/report" role="button">Reportar desaparecido</a>
</div>

<style>
    .prop{
        width: 60rem;
        height: 3rem;
        background-color: #FFFFFF;
        border: 2px solid #CE8927;
        border-radius: 1rem;
		text-decoration: none;
		color: black;
    }
</style>