<div class="text-center pt-2">
    <h1>Pedidos</h1>
</div>

<div class="text-center border_style rounded-4 py-2 mt-5 mx-3">
    <a href="/adopt/form" role="button" class="a-style">Adoção</a>
</div>
<div class="text-center border_style rounded-4 py-2 mt-4 mx-3">
    <a href="/adopt/form" role="button" class="a-style">Apadrinhamento</a>
</div>
<div class="text-center border_style rounded-4 py-2 mt-4 mx-3">
    <a href="/animal/create" role="button" class="a-style">Adicionar animal</a>
</div>
<div class="text-center border_style rounded-4 py-2 mt-4 mx-3">
    <a href="/missing/seen" role="button" class="a-style">Avistar desaparecido</a>
</div>
<div class="text-center border_style rounded-4 py-2 mt-4 mx-3">
    <a href="/missing/report" role="button" class="a-style">Reportar desaparecido</a>
</div>


<style>
    .border_style{
        border: 2px solid #CE8927;
    }

    .a-style{
        text-decoration: none;
		color: black;
    }
</style>