<%- include('../partials/head', {title: 'Index registry'}) %>

  <body>
    
    <h1>ADOTA.ME</h1>
    <p>Criar uma conta</p>

    <form action="/registry" method="post">
        <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
        <label for="email1" class="form-label">Confirmar e-mail</label>
        <input type="email" class="form-control" id="email1" name="email1" required>
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
        <label for="password1" class="form-label">Confirmar senha</label>
        <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="mb-3">
        <label for="phone" class="form-label">Contacto</label>
        <input type="number" class="form-control" id="phone" name="phone" required>
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
    </form>

    <a href="/login">Login</a>
    
    <% include ../partials/scripts %>
  </body>