<div class="text-center pt-2">
  <h1>ADOTA.ME</h1>
  <p>Criar uma conta</p>
</div>

<form action="/registry" method="post">
  <div class="pb-3">
    <label for="name" class="form-label">Nome</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="pb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="pb-3">
    <label for="email1" class="form-label">Confirmar e-mail</label>
    <input type="email" class="form-control" id="email1" name="email1" required>
  </div>
  <div class="pb-3">
    <label for="password" class="form-label">Senha</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="pb-3">
    <label for="password1" class="form-label">Confirmar senha</label>
    <input type="password" class="form-control" id="password1" name="password1" required>
  </div>
  <div class="pb-3">
    <label for="phone" class="form-label">Contacto</label>
    <input type="number" class="form-control" id="phone" name="phone" required>
  </div>
  <div class="d-flex justify-content-center pt-2">
    <button type="submit" class="btn card-button">Criar</button>
  </div>
</form>

<div class="text-center pt-2">
  <a href="/login" class="no-underline">Login</a>
</div>

<style>
    .card-button{
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #D14C1F, #F39200, #ECB800);
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 2px;
  }
  .no-underline{
    text-decoration: none;
    color: #F39200;
  }
</style>