<%- include('../partials/head', {title: 'Adopt list'}) %>

<body>
  <img src="/images/icons/paper.svg" alt="iconPaper">
  <ul>
    <% animals.forEach(function(animal){ %>
      <li>
        <%= animal.name  %>
        <%=  animal.type %>  
        <%= animal.gender %>
        <a href="/adopt/form">Adotar</a>
        <a href="/adopt/patronize-form">Apadrinhar</a>
      </li>
    <% }); %> 
  </ul> 

  <% include ../partials/scripts %>
</body>