<div id="carouselExampleControls" class="carousel slide carousel-dimensions" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/icons/bobby.svg" class="d-block w-100" alt="iconBobby">
      </div>
      <div class="carousel-item">
        <img src="images/icons/katy.svg" class="d-block w-100" alt="iconKaty">
      </div>
      <div class="carousel-item">
        <img src="images/icons/tobias.svg" class="d-block w-100" alt="iconTobias">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="py-5">
  <div class="text-center pb-5">
    <h1>Ajude-nos a ajudar!! Conheça os novos felpudos ^^</h1>
  </div>
  <div class="border-middle p-4">
    <div class="d-flex justify-content-center gap-5">
      <div class="align-self-center">
        <img src="images/icons/hand.svg" alt="iconHand">
      </div>
      <div class="pt-3">
          <h4>Doações</h4>
          <p>Ajude a ajudar</p>
      </div>
    </div>
  </div>
</div>

<div class="who-we-are-bgcolor">
  <div class="d-flex flex-column gap-4 padding-text-tb">
    <div class="text-center">
      <h3>Quem somos?</h3>
    </div>
    <div class="text-padding-lr text-center">
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
    </div>
  </div>
</div>

<div class="d-flex flex-column gap-4 padding-text-tb">
  <div class="text-center">
    <h3>Conheça os nossos patudos!</h3>
  </div>
  <div class="text-center paragraph-padding-lr">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
  <div class="d-flex">
    <img src="images/icons/bobby.svg" class="d-block w-100" alt="iconBobby">
    <img src="images/icons/katy.svg" class="d-block w-100" alt="iconKaty">
    <img src="images/icons/tobias.svg" class="d-block w-100" alt="iconTobias">
  </div>
    <div class="d-flex justify-content-around pt-5">
      <div class="card rounded-5 border-only" style="width: 18rem;">
        <div>   
          <a href="/animal/profile">
          <img src="/images/logo/dog.svg" class="card-img-top p-4" alt="logoDog">
          </a>
        </div>
        <div class="card-body text-center py-1">
          <div class="pb-3">
            <h4 class="card-title"> Lua </h4>
            <p class="card-text"> 4 anos</p>
            <p class="card-text"> Canil Municipal de Coimbra </p>
          </div>
          <div class="pb-2">
            <a href="/adopt/form" class="btn card-button">Adotar</a>
            <a href="/adopt/patronize-form" class="btn card-button">Apadrinhar</a>
          </div>
        </div>
      </div>

      <div class="card rounded-5 border-only" style="width: 18rem;">
        <div>   
          <a href="/animal/profile">
          <img src="/images/logo/dog.svg" class="card-img-top p-4" alt="logoDog">
          </a>
        </div>
        <div class="card-body text-center py-1">
          <div class="pb-3">
            <h4 class="card-title"> Amora </h4>
            <p class="card-text"> 2 anos</p>
            <p class="card-text"> Canil D'Maria Unipessoal Lda </p>
          </div>
          <div class="pb-2">
            <a href="/adopt/form" class="btn card-button">Adotar</a>
            <a href="/adopt/patronize-form" class="btn card-button">Apadrinhar</a>
          </div>
        </div>
      </div>

      <div class="card rounded-5 border-only" style="width: 18rem;">
        <div>   
          <a href="/animal/profile">
          <img src="/images/logo/dog.svg" class="card-img-top p-4" alt="logoDog">
          </a>
        </div>
        <div class="card-body text-center py-1">
          <div class="pb-3">
            <h4 class="card-title"> Pipoca </h4>
            <p class="card-text"> 3 meses</p>
            <p class="card-text"> Cantinho Dos Animais Abandonados Viseu </p>
          </div>
          <div class="pb-2">
            <a href="/adopt/form" class="btn card-button">Adotar</a>
            <a href="/adopt/patronize-form" class="btn card-button">Apadrinhar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <div class="pt-5 pb-3">
        <a href="catalog/index" style="color: black;">Ver catálogo</a>
      </div>
      <div class="text-center">
        <p>Aqui vais poder ver todos os nossos patudos. <br> Esperemos que algum te chame à atenção!</p>
      </div>
    </div>
</div>

<div>
  <div class="d-flex">
    <div class="half-vw padding-text-tb who-we-are-bgcolor font-mission-color px-5 d-flex flex-column gap-3">
      <div>
        <h3>Missão:</h3>
      </div>
      <div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="half-vw">
      <img src="images/icons/katy.svg" class="d-block w-100" alt="iconKaty">
    </div>
  </div>
</div>

<div>
  <div class="d-flex">
    <div class="half-vw">
      <img src="images/icons/bobby.svg" class="d-block w-100" alt="iconBobby">
    </div>
    <div class="half-vw font-vision-color padding-text-tb font-mission-color px-5 d-flex flex-column gap-3">
      <div class="d-flex justify-content-end">
        <h3>Visão:</h3>
      </div>
      <div class="d-flex justify-content-end">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="d-flex">
    <div class="half-vw who-we-are-bgcolor padding-text-tb font-mission-color px-5 d-flex flex-column gap-3">
      <div>
        <h3>Valores:</h3>
      </div>
      <div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="half-vw">
      <img src="images/icons/tobias.svg" class="d-block w-100" alt="iconTobias">
    </div>
  </div>
</div>

<div class="font-mission-color footer-bg d-flex justify-content-around padding-text-tb">
  <div>
    <div>
      <h2>Contatos</h2>
    </div>
    <div class="contacts-pt">
      <div>
        <p>Contatos telefónicos <br> 232 232 232 / 962 232 232</p>
      </div>
      <div>
        <p>Email <br> animais@adotame.pt</p>
      </div>
    </div>
  </div>
  <div>
    <div>
      <p class="text-end">Endereços</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10785.191202684571!2d-7.909933934456191!3d40.663130108955116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd233651f054280b%3A0x78ed1163b773c9d!2sViseu!5e0!3m2!1spt-PT!2spt!4v1662395433669!5m2!1spt-PT!2spt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

<style>
    .border-middle{
        border: 3px solid #CE8927;
        border-radius: 1rem;
        width: 20vw;
        margin: auto;
        min-width: 300px;
        box-shadow: 1px 1px 30px;
    }

    .who-we-are-bgcolor{
      background-color: #CE8926;
    }

    .text-padding-lr{
      padding-left: 25vw;
      padding-right: 25vw;
    }

    .paragraph-padding-lr{
      padding-left: 15vw;
      padding-right: 15vw;
    }

    .padding-text-tb{
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    .card-button{
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #D14C1F, #F39200, #ECB800);
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 2px;
   }

   .border-only{
    border: 3px solid #CE8927;
   }

   .half-vw{
    width: 50vw;
    height: auto;
   }

   .font-mission-color{
    color: white;
   }

   .font-vision-color{
    color: #CE8926;
   }

   .contacts-pt{
    padding-top: 11rem;
   }

   .footer-bg{
    background-color: #ba5d06;
   }

   .carousel-dimensions{
    width: 40vw;
    height: auto; 
    margin: auto;
   }
</style>