
  <h1>ADOTA.ME</h1>
  <p>Adotar</p>

  <form action="/adopt/form" method="post">
      <div>
        <div><label>É casado?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="married" id="married" value="option1">
          <label class="form-check-label" for="married">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="married" id="married" value="option2">
          <label class="form-check-label" for="married">Nao</label>
        </div>
      </div>

      <div>
        <div><label>Tem filhos?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="childs" id="childs" value="option1">
          <label class="form-check-label" for="childs">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="childs" id="childs" value="option2">
          <label class="form-check-label" for="childs">Nao</label>
        </div>
      </div>

      <div class="mb-3">
        <label for="live_with" class="form-label">Com quem vive?</label>
        <input type="text" class="form-control" id="live_with" name="live_with" required>
      </div>

      <div>
        <div><label>Todas as pessoas em sua casa concordam com a adoção?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="home_agreement" id="home_agreement" value="option1">
          <label class="form-check-label" for="home_agreement">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="home_agreement" id="home_agreement" value="option2">
          <label class="form-check-label" for="home_agreement">Nao</label>
        </div>
      </div>

      <div>
        <div><label>Alguém em sua casa tem alergias ou asma?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allergies_in_relatives" id="allergies_in_relatives" value="option1">
          <label class="form-check-label" for="allergies_in_relatives">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allergies_in_relatives" id="allergies_in_relatives" value="option2">
          <label class="form-check-label" for="allergies_in_relatives">Nao</label>
        </div>
      </div>

      <div class="mb-3">
        <label for="main_caregiver_name" class="form-label">Quem é que vai ser o cuidador principal?</label>
        <input type="text" class="form-control" id="main_caregiver_name" name="main_caregiver_name" required>
      </div>

      <div>
        <div><label>Está preparado/a para cuidar deste animal por 10-15 anos?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="caregiver_long" id="caregiver_long" value="option1">
          <label class="form-check-label" for="caregiver_long">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="caregiver_long" id="caregiver_long" value="option2">
          <label class="form-check-label" for="caregiver_long">Nao</label>
        </div>
      </div>

      <div class="mb-3">
        <label for="caregiver_illness_name" class="form-label">Quem é que vai cuidar do animal se ficar doente ou incapaz de o fazer?</label>
        <input type="text" class="form-control" id="caregiver_illness_name" name="caregiver_illness_name" required>
      </div>

      <div class="mb-3">
        <label for="why_adopt" class="form-label">Porque é que quer adotar um animal?</label>
        <input type="text" class="form-control" id="why_adopt" name="why_adopt" required>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Onde vive?</label>
        <input type="text" class="form-control" id="address" name="address" required>
      </div>

      <div>
        <div><label>Tem quintal?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="yard" id="yard" value="option1">
          <label class="form-check-label" for="yard">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="yard" id="yard" value="option2">
          <label class="form-check-label" for="yard">Nao</label>
        </div>
      </div>

      <div class="mb-3">
        <label for="animal_sleep_place" class="form-label">Onde é que o animal vai dormir?</label>
        <input type="text" class="form-control" id="animal_sleep_place" name="animal_sleep_place" required>
      </div>

      <div>
        <div><label>Vai deixar o animal sozinho ao longo do dia?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="animal_loneless_daytime" id="animal_loneless_daytime" value="option1">
          <label class="form-check-label" for="animal_loneless_daytime">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="animal_loneless_daytime" id="animal_loneless_daytime" value="option2">
          <label class="form-check-label" for="animal_loneless_daytime">Nao</label>
        </div>
      </div>

      <div class="mb-3">
        <label for="animal_alone_place" class="form-label">Onde é que o animal vai ser deixado sozinho?</label>
        <input type="text" class="form-control" id="animal_alone_place" name="animal_alone_place" required>
      </div>

      <div>
        <div><label>Vai ter tempo para brincar com o seu animal?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="playtime" id="playtime" value="option1">
          <label class="form-check-label" for="playtime">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="playtime" id="playtime" value="option2">
          <label class="form-check-label" for="playtime">Nao</label>
        </div>
      </div>

      <div>
        <div><label>Já teve algum animal de estimação antes?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pet_before" id="pet_before" value="option1">
          <label class="form-check-label" for="pet_before">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pet_before" id="pet_before" value="option2">
          <label class="form-check-label" for="pet_before">Nao</label>
        </div>
      </div>

      <div>
        <div><label>Tem atualmente algum animal de estimação?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pet_nowdays" id="pet_nowdays" value="option1">
          <label class="form-check-label" for="pet_nowdays">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="pet_nowdays" id="pet_nowdays" value="option2">
          <label class="form-check-label" for="pet_nowdays">Nao</label>
        </div>
      </div>

      <div>
        <div><label>Tem possibilidades de pagar todas as despesas veterinárias?</label></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="animal_cares_expenses" id="animal_cares_expenses" value="option1">
          <label class="form-check-label" for="animal_cares_expenses">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="animal_cares_expenses" id="animal_cares_expenses" value="option2">
          <label class="form-check-label" for="animal_cares_expenses">Nao</label>
        </div>
      </div>

      <div class="mb-3">
        <label for="teach_plans" class="form-label">Como planeia ensinar o seu animal?</label>
        <input type="text" class="form-control" id="teach_plans" name="teach_plans" required>
      </div>

      <div class="mb-3">
        <label for="moving_home_animal_effects" class="form-label">O que fará ao animal se mudar de casa?</label>
        <input type="text" class="form-control" id="moving_home_animal_effects" name="moving_home_animal_effects" required>
      </div>

      <div class="mb-3">
        <label for="give_up_circumstances" class="form-label">Em que circunstâncias desistiria do seu animal?</label>
        <input type="text" class="form-control" id="give_up_circumstances" name="give_up_circumstances" required>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>

    </form>
