<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="text-center">
                <h1>Obrigado!</h1>
            </div>
            <div class="text-center">
                <p>A sua proposta foi enviada e receberá notificado assim que <br> tivermos uma resposta para si. <br> Obrigado por se preocupar com os que mais precisam ^^</p>
            </div>
            <!-- <div>
                <img src="" alt="logoDog">
            </div> -->
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn card-button" data-bs-dismiss="modal">Concluído</button>
        </div>
      </div>
    </div>
  </div>

<style>
    .card-button{
        width: 7rem;
        height: 2rem;
        border-radius: 1rem;
        background-image: linear-gradient(to right, #D14C1F, #F39200, #ECB800);
        text-decoration: none;
        color: white;
        text-align: center;
        padding-top: 2px;
    }
</style>
  