<%- include('../partials/head', {title: 'Patronize-form'}) %>

<body>

  <h1>ADOTA.ME</h1>
  <p>Apadrinhar</p>

  <form action="adopt/form" method="get">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
      <% include ../partials/scripts %>
</body>