<div class="text-center pt-2">
    <div>
        <h1>Doar</h1>
    </div>
    <div class="mrg">
        <h5>IBAN: PT50 1234 4321 12345678901 72</h5>
        <h5>MBWAY: 239 543 689</h5>
    </div>
</div>

<style>
    .mrg{
        margin-top: 15rem;
        margin-bottom: 18rem;
    }
</style>