<%- include('../partials/head', {title: 'Create Animal'}) %>

  <body>
    
    <h1>ADOTA.ME</h1>
    <p>Adicionar animal</p>

    <form action="/create-update" method="post">

      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>

      <select class="form-select" aria-label="Default select example" required>
        <option selected>Selecione uma opção</option>
        <option value="1">Cão</option>
        <option value="2">Gato</option>
      </select>

      <div class="mb-3">
        <label for="photo" class="form-label">Fotografia</label>
        <input type="text" class="form-control" id="photo" name="photo" required>
      </div>

      <select class="form-select" aria-label="Default select example" required>
        <option selected>Género</option>
        <option value="1">Macho</option>
        <option value="2">Fêmea</option>
      </select>

      <div class="mb-3">
        <label for="age" class="form-label">Data de nascimento</label>
        <input type="date" class="form-control" id="age" name="age" required>
      </div>

      <select class="form-select" aria-label="Default select example" required>
        <option selected>Género</option>
        <option value="1">Macho</option>
        <option value="2">Fêmea</option>
      </select>

      <select class="form-select" aria-label="Default select example" required>
        <option selected>Tamanho</option>
        <option value="1">Muito pequeno</option>
        <option value="2">Pequeno</option>
        <option value="3">Medio</option>
        <option value="4">Grande</option>
        <option value="5">Muito grande</option>
      </select>

      <div class="mb-3">
        <label for="fur" class="form-label">Pelo</label>
        <input type="text" class="form-control" id="fur" name="fur" required>
      </div>

      <div class="mb-3">
        <label for="breed" class="form-label">Raça</label>
        <input type="text" class="form-control" id="breed" name="breed" required>
      </div>

      <div class="mb-3">
        <label for="color" class="form-label">Cor do animal</label>
        <input type="text" class="form-control" id="color" name="color" required>
      </div>

      <div class="mb-3">
        <label for="vaccines" class="form-label">Vacinas</label>
        <input type="text" class="form-control" id="vaccines" name="vaccines" required>
      </div>

      <div class="mb-3">
        <label for="portion" class="form-label">Ração</label>
        <input type="text" class="form-control" id="portion" name="portion" required>
      </div>

      <div class="mb-3">
        <label for="health" class="form-label">Saúde</label>
        <input type="text" class="form-control" id="health" name="health" required>
      </div>

      <div class="mb-3">
        <label for="cares" class="form-label">Cuidados</label>
        <input type="text" class="form-control" id="cares" name="cares" required>
      </div>

      <button type="submit" class="btn btn-primary">Criar</button>
    </form>
    
    <% include ../partials/scripts %>
  </body>