<div class="w-100 h-100">
  <div class="text-center mt-2">
    <h1>Adicionar Animal</h1>
    <p>Responda a este inquérito e espere até analisarmos a sua<br> resposta! Obrigado por nos ajudar!</p>
  </div>

  <div class="mt-5">
    <form action="/animal/create" method="post" class="fs-5">

      <div class="mt-4">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control mt-2 form-bar rdo-style" id="name" name="name" required>
      </div>

      <div class="mt-4">
        <div><label>Tipo</label></div>
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input rdo-style" type="radio" name="type" id="type" value="Cao">
          <label class="form-check-label" for="type">Cão</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="type" id="type" value="Gato">
          <label class="form-check-label" for="type">Gato</label>
        </div>
      </div>

      <div class="mt-4">
        <label for="photo" class="form-label">Fotografia</label>
        <input type="text" class="form-control form-bar rdo-style mt-2" id="photo" name="photo" placeholder="link" required>
      </div>

      <div class="mt-4">
        <div><label>Género</label></div>
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input rdo-style" type="radio" name="gender" id="gender" value="Macho">
          <label class="form-check-label" for="gender">Macho</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="gender" id="gender" value="Femea">
          <label class="form-check-label" for="gender">Fêmea</label>
        </div>
      </div>

      <div class="mt-4">
        <label for="age" class="form-label">Data de nascimento</label>
        <input type="date" class="form-control form-bar rdo-style mt-2" id="age" name="age" required>
      </div>

      <div class="mt-4">
        <div><label>Tamanho</label></div>
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Muito pequeno">
          <label class="form-check-label" for="size">Muito pequeno</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Pequeno">
          <label class="form-check-label" for="size">Pequeno</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Medio">
          <label class="form-check-label" for="size">Médio</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Grande">
          <label class="form-check-label" for="size">Grande</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Muito grande">
          <label class="form-check-label" for="size">Muito grande</label>
        </div>
      </div>

      <div class="mt-4">
        <label for="fur" class="form-label">Pelo</label>
        <input type="text" class="form-control form-bar mt-2" id="fur" name="fur" required>
      </div>

      <div class="mt-4">
        <label for="breed" class="form-label">Raça</label>
        <input type="text" class="form-control form-bar mt-2" id="breed" name="breed" required>
      </div>

      <div class="mt-4">
        <label for="color" class="form-label">Cor do animal</label>
        <input type="text" class="form-control form-bar mt-2" id="color" name="color" required>
      </div>

      <div class="mt-4">
        <label for="vaccines" class="form-label">Vacinas</label>
        <input type="text" class="form-control form-bar mt-2" style="height: 6rem;" id="vaccines" name="vaccines" required>
      </div>

      <div class="mt-4">
        <label for="portion" class="form-label">Ração</label>
        <input type="text" class="form-control form-bar mt-2" id="portion" name="portion" required>
      </div>

      <div class="mt-4">
        <label for="health" class="form-label">Saúde</label>
        <input type="text" class="form-control form-bar mt-2" style="height: 6rem;" id="health" name="health" required>
      </div>

      <div class="mt-4">
        <label for="cares" class="form-label">Cuidados</label>
        <input type="text" class="form-control form-bar mt-2" style="height: 6rem;" id="cares" name="cares" required>
      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Criar</button>
      </div>
    </form>
  </div>
</div>

<style>
  .form-bar{
    width: 50rem;
    height: 2.5rem;
    background-color: rgba(29, 29, 27, 0.11);
    border-radius: 2rem;
  }

  .rdo-style{
    background-color: rgba(29, 29, 27, 0.11);
  }

</style>