<div>
  <div class="text-center pt-2">
    <h1>Adicionar Animal</h1>
    <p>Responda a este inquérito e espere até analisarmos a sua<br> resposta! Obrigado por nos ajudar!</p>
  </div>

  <div class="pt-4">
    <form action="/animal/create" method="post" class="fs-5">

      <div class="pt-4">
        <label for="name" class="form-label">1. Nome</label>
        <input type="text" class="form-control pt-2 form-bar rdo-style" id="name" name="name" required>
      </div>

      <div class="pt-4">
        <div><label>2. Tipo</label></div>
        <div class="form-check form-check-inline pt-2">
          <input class="form-check-input rdo-style" type="radio" name="type" id="type" value="Cao">
          <label class="form-check-label" for="type">Cão</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="type" id="type" value="Gato">
          <label class="form-check-label" for="type">Gato</label>
        </div>
      </div>

      <div class="pt-4">
        <label for="photo" class="form-label">3. Fotografia</label>
        <input type="text" class="form-control form-bar rdo-style pt-2" id="photo" name="photo" placeholder="link" required>
      </div>

      <div class="pt-4">
        <div><label>4. Género</label></div>
        <div class="form-check form-check-inline pt-2">
          <input class="form-check-input rdo-style" type="radio" name="gender" id="gender" value="Macho">
          <label class="form-check-label" for="gender">Macho</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="gender" id="gender" value="Femea">
          <label class="form-check-label" for="gender">Fêmea</label>
        </div>
      </div>

      <div class="pt-4">
        <label for="birth_date" class="form-label">5. Data de nascimento</label>
        <input type="date" class="form-control form-bar rdo-style pt-2" id="birth_date" name="birth_date" required>
      </div>

      <div class="pt-4">
        <div><label>6. Tamanho</label></div>
        <div class="form-check form-check-inline pt-2">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Muito pequeno">
          <label class="form-check-label" for="size">Muito pequeno</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Pequeno">
          <label class="form-check-label" for="size">Pequeno</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Medio">
          <label class="form-check-label" for="size">Médio</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Grande">
          <label class="form-check-label" for="size">Grande</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input rdo-style" type="radio" name="size" id="size" value="Muito grande">
          <label class="form-check-label" for="size">Muito grande</label>
        </div>
      </div>

      <div class="pt-4">
        <label for="fur" class="form-label">7. Pelo</label>
        <input type="text" class="form-control form-bar pt-2" id="fur" name="fur" required>
      </div>

      <div class="pt-4">
        <label for="breed" class="form-label">8. Raça</label>
        <input type="text" class="form-control form-bar pt-2" id="breed" name="breed" required>
      </div>

      <div class="pt-4">
        <label for="color" class="form-label">9. Cor do animal</label>
        <input type="text" class="form-control form-bar pt-2" id="color" name="color" required>
      </div>

      <div class="pt-4">
        <label for="vaccines" class="form-label">10. Vacinas</label>
        <input type="text" class="form-control form-bar pt-2" style="height: 6rem;" id="vaccines" name="vaccines" required>
      </div>

      <div class="pt-4">
        <label for="portion" class="form-label">11. Ração</label>
        <input type="text" class="form-control form-bar pt-2" id="portion" name="portion" required>
      </div>

      <div class="pt-4">
        <label for="health" class="form-label">12. Saúde</label>
        <input type="text" class="form-control form-bar pt-2" style="height: 6rem;" id="health" name="health" required>
      </div>

      <div class="pt-4">
        <label for="cares" class="form-label">13. Cuidados</label>
        <input type="text" class="form-control form-bar pt-2" style="height: 6rem;" id="cares" name="cares" required>
      </div>

      <div class="pt-4">
        <label for="place_belongs" class="form-label">14. Localização</label>
        <input type="text" class="form-control form-bar pt-2" style="height: 6rem;" id="place_belongs" name="place_belongs" required>
      </div>

      <div class="text-center pt-4">
        <button type="submit" class="btn card-button">Enviar</button>
      </div>
    </form>
  </div>
</div>

<style>
  .form-bar{
    background-color: rgba(29, 29, 27, 0.11);
    border-radius: 2rem;
  }

  .rdo-style{
    background-color: rgba(29, 29, 27, 0.11);
  }

  .card-button{
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #D14C1F, #F39200, #ECB800);
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 2px;
  }

</style>