        <div class="d-flex justify-content-center gap-5">
            <div class="card" style="width: 18rem;">
                <img src="/images/logo/dog.svg" class="card-img-top" alt="logoDog">
                <div class="card-body">
                <div class="card-title bg-white fs-4"><strong>Nome</strong></div>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Contacto</li>
                </ul>
            <div class="text-center">
                <p>Queres dar-lhe uma vida cheia de amor? Clica aqui!</p>
                <a href="/adopt/form" class="btn btn-primary">Adotar</a>
                <a href="/adopt/patronize-form" class="btn btn-primary">Apadrinhar</a>
            </div>
            </div>

            <div>
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-white fs-4"><strong>Saúde</strong></div>
                    <div class="card-body">
                        <ul>
                            <li><span>Vacinas</span></li>
                            <li><span>Ração</span></li>
                            <li><span>Estado</span></li>
                            <li><span>Cuidados</span></li>
                        </ul>
                    </div>
                </div>

                <div class="card" style="max-width: 18rem;">
                    <div class="card-header bg-white fs-4"><strong>Perfil</strong></div>
                    <div class="card-body">
                        <ul>
                            <li><span>Tamanho</span></li>
                            <li><span>Pelo</span></li>
                            <li><span>Raça</span></li>
                            <li><span>Cor</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<style>
    li::marker{
        color: #68B544;
        font-size: 2rem;
    }

    li span{
        color: black;
        font-size: 1.4rem;
    }
</style>